/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .add-todo-button {
        left: 50px;
    }
}

.add-todo-button {
    border: none;
    background-color: unset;
    font-size: 40px;
    color: #35495e;
    font-weight: 900;
    position: absolute;
    top: 30px;
}
.add-todo-button:hover {
    border: none;
    background-color: unset;
    color: #21374e;
    font-weight: 900;
    cursor: pointer;
}
.add-todo-button:focus {
    border: none;
    background-color: unset;
    color: #21374e;
    box-shadow: unset
}