/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .body{
        margin-top: 90px;
    }
 }
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px){ 
    .body{
        margin-top: 90px;
    }
    .todo-date{
        font-size: 15px !important;
    }
 }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
   .body{
        margin-top: 0;
        min-height: 500px;
    }
    
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
   .body{
        margin-top: 0;
        min-height: 500px;
    }
    
    .card{
    width: 100% !important;
    }
}

.selected-project-name{
    color:#35495e;
    font-size: 30px;
    font-weight: 900;
    padding: 6px;
    text-align: center;
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#no-items-to-show{
    text-align: center;
    color:#4e040a;
    font-size: 30px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card{
    background-color: unset;
    box-shadow: 0px 7px 10px #000;
    border: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    margin-top: .5%;
}
.card-header{
    background-color: #35495e;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-body, .collapse,.collapsing {
    background-color: #63b7af;
}
.card-header .row{
    align-items: center;
}
.todo-left-side{
    padding: 0;
}
.todo-done{
    font-size: 18px;
    margin-left: 15px;
}
.todo-label{
    margin-left: 15px;
}
.todo-name{
    font-size: 20px;
    margin-bottom: 0;
}
.card-header:hover .todo-name{
    color: thistle;
}
.todo-date{
    font-size: 17px;
    margin-bottom: 0;
    padding: 0;
    text-align: end;
}
.delete-todo{
    font-size: 17px;
    color: rgb(187, 183, 183);
    text-align: center;
}
.delete-todo:hover{
   color: #dc3545;
}
