/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .header{
        width: 75%;
    }
 }
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px){ 
    .header{
        max-width: 66.666667%;
    }
 }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
    .header{
        width: 100% !important;
    } 
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .header{
        width: 100% !important;
    } 
}


.header{
    width: 100%;
    padding-top: 1%;
    width: 75%;
    height: 90px;
    position: absolute;
    right: 15px;
    align-items: center;
    border-bottom: 1px solid #000;
}
.header-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color:#000;
    text-decoration: none;
    margin-left: 35px;
    margin-bottom: 0;
}

.header a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color:#000;
    text-decoration: none;
}

.header a:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color:#000;
    text-decoration: none;
}

.s-media{
    justify-content: end;
    display: flex;
    padding-right: 35px;
}
.s-media i{
    margin-left: 10px;
}
.s-media i:hover{
    color: rgb(63, 50, 27);
}